body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 122, 0), #ffffff);
}
.register-box {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid rgb(0, 122, 0);
}

form input:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(0, 122, 0);
}

.register-box h1 {
    margin-bottom: 20px;
    color: rgb(0, 122, 0);
}
.register-box form {
    display: flex;
    flex-direction: column;
}
.register-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 20px;
}
.register-box input[type="file"] {
    padding: 5px;
}
.register-box button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.register-btn {
    background-color: rgb(0, 122, 0);
    color: white;
    margin-bottom: 10px;
    transition: .3s;
}
.register-btn:hover {
    transform: scale(.9);
    background-color: rgb(0, 100, 0);
}
.secondary-btn {
    background-color: #f0f0f0;
    color: #333;
    transition: .3s;
}
.secondary-btn:hover {
    transform: scale(.9);
    background-color: #e0e0e0;
}
.links {
    margin-top: 20px;
}
.links a {
    color: rgb(0, 122, 0);
    text-decoration: none;
    font-weight: bold;
}
.links a:hover {
    text-decoration: underline;
}